/*Sección banner*/
section.banner{
    background: url(../img/video.png) center center no-repeat;
    background-size: cover;
    height: 600px;
}

.banner__texto{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FAFAFA;
    /* Color del texto */
    background-color: transparent;
    /* Fondo transparente */
    padding-bottom: 20px;
    /* Elimina el padding */
}

.banner__botones-login,
.banner__botones-register{
    font-weight: bold;
    background-color: #7C6A46;
    border: 0;
}

.banner__botones-login:hover,
.banner__botones-register:hover {
    background-color: rgba(122, 106, 70, 0.5); /* Cambia el último valor (0.5) para ajustar la transparencia */
}

section#contenedor_info{
    border: 0;
    max-width: 80%;
}

section.servicios{
    text-align: center;
    width: 90%;
}