<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SrvltGrafico</servlet-name>
        <servlet-class>controlador.SrvltGrafico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvtlLogin</servlet-name>
        <servlet-class>controlador.SrvtlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvtlGrafico</servlet-name>
        <servlet-class>controlador.SrvtlGrafico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvtlCliente</servlet-name>
        <servlet-class>controlador.SrvtlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvtlAlquiler</servlet-name>
        <servlet-class>controlador.SrvtlAlquiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvtlCodigoQR</servlet-name>
        <servlet-class>controlador.SrvtlCodigoQR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srvlt1</servlet-name>
        <servlet-class>controlador.Srvlt1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrvltGrafico</servlet-name>
        <url-pattern>/SrvltGrafico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvtlLogin</servlet-name>
        <url-pattern>/SrvtlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvtlGrafico</servlet-name>
        <url-pattern>/SrvtlGrafico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvtlCliente</servlet-name>
        <url-pattern>/SrvtlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvtlAlquiler</servlet-name>
        <url-pattern>/SrvtlAlquiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvtlCodigoQR</servlet-name>
        <url-pattern>/SrvtlCodigoQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srvlt1</servlet-name>
        <url-pattern>/Srvlt1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
